<h2>Transactions</h2>

<div class="transactions">
  <table>
    <thead>
      <tr>
        <td class="transactions-date">Date</td>
        <td class="transactions-description">Description</td>
        <td class="transactions-category">Category</td>
        <td class="transactions-amount">Amount</td>
      </tr>
    </thead>
    <tbody>
      {{#each transaction in controller}}
      <tr {{action 'startEditing' controller}}>
          <td>{{format-simple-date transaction.date}}</td>
          <td>
          {{#if transaction.isEditing}}
            {{input value=transaction.description focus-out='stopEditing'}}
          {{else}}
            {{transaction.description}}
          {{/if}}
          </td>
          <td>{{description}}</td>
          <td>{{format-money transaction.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{ outlet }}
